* header {
  color: #800000;
padding:50px;
margin:auto;
background-color: cyan ;

 background-image: url("images/header11.jpg");
nav: vertical;
font-size: 60px;
text-align: center;
}
nav ul{
  margin: 0px;
  padding: 5px 0px 5px 30px;
  font-size: 20px
}
nav li {
  display: inline-block;
  margin-right: 40px;
}
body{
background-color: Moccasin;
}
div.w3-card {
  display:inline-block;
border-style: dotted;
width: 65% ;
height: 300px;
margin-left: 190px;
margin-bottom: 20px;
font-size: 30px;

}
footer{
text-align: right;
 font-size: 38px;
/*padding: 150px 100px;*/
color: red;
top margin: 500px;
background-color: cyan;
}
